    header {
      background-color: goldenrod;
      font-size: xx-large;
      text-align: center;
    }

    section {
      background-color: wheat;
      font-size: medium;
      padding: 10px;
    }

    footer {
      background-color: darkgray;
      height: 270px;
      padding: 10px;
    }

    li {
      padding-top: 2px;
    }

    #listaControles {
      float: left;
      width: 50%;
    }

    #botoesStorage {
      float: right;
      width: 50%;
    }